.photo-grid {
    margin: 0 auto;
    width: 100%;
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    gap: 14px;
    border: 1px solid red;
}