.intro__list {
margin: 0;
padding-left: 0;
max-width: 690px;
width: auto;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 1.5;
color: #FFFFFF;
list-style-type: none;
}

@media all and (max-width: 1023px) {
    .intro__list {
        margin: 0 24px;
    }
}  

@media all and (max-width: 767px) {
    .intro__list {
        margin: 0 16px;
    }
} 