.cover__subtitle {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    width: auto;
    max-width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    box-sizing: border-box;
}

.cover__subtitle:hover {
    color: rgba(0,0,0,0.5);
}


@media all and (max-width: 767px) {
    .cover__subtitle {
        /* max-width: 280px; */
        font-size: 14px;
        line-height: 1.14;
        padding: 0 16px;
    }
}

@media all and (max-width: 319px) {
    .cover__subtitle {
        /* max-width: 280px; */
        font-size: 10px;
        line-height: 1.14;
    }
}