.header {
    width: 100%;
    margin: 0 auto;
    max-width: 1184px;
    /* min-width: 320px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

@media all and (max-width: 320px) {
    .header {
        max-width: 288px;
        padding: 16px 16px 0;
    }
} 