.lead__title {
    margin: 0;
    padding: 0;
    margin: 48px auto 32px;
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: #FFFFFF;
}

@media all and (max-width: 320px) {
    .lead__title {
        margin: 48px 16px 16px;
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;
    }
} 

@media all and (min-width: 1280px) {
    .lead__title {
        margin: 52px auto 32px;
    }
} 
