.lead__image {
   Width: 100%;
/* object-fit: cover; */
/* border: 1px solid red; */
}

@media all and (max-width: 320px) {
   .lead__image {
      Width: 100%;
      max-width: 320px;
       object-fit: cover;
   }
} 
