.intro {
    width: 100%;
    /* width: auto; */
    margin: 0 auto;
    max-width: 928px;
    padding: 92px 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

@media all and (max-width: 1023px) {
    .intro {
       padding: 88px 0;
    /* max-width: 720px; */
    }
}

@media all and (max-width: 767px) {
    .intro {
       padding: 64px 0;
       /* max-width: 288px; */
    }
}

@media screen and (min-width: 1280px) {
    .intro {
      max-width: 984px;
    }
  }