.lead__subtitle {
margin: 0 auto;
padding: 0;
padding-bottom: 56px;
width: 100%;
width: auto;
max-width: 640px;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 1.2;
text-align: center;
color: #FFFFFF;
}

@media all and (max-width: 767px) {
    .lead__subtitle {
        padding: 0 16px 40px;
        font-size: 16px;
        line-height: 1.25;
    }
} 

@media all and (min-width: 1280px) {
    .lead__subtitle {
        padding-bottom: 64px;
    }
} 
