.cover {
    width: 100%;
    width: auto;
    margin: 0 auto;
    max-width: 1184px;
    display: grid;
    object-fit: cover;
    text-decoration: none;
}

@media all and (max-width: 320px) {
    .cover {
        max-width: 320px;
    }
} 