.cover__title {
    width: auto;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 32px;
    width: 100%;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    box-sizing: border-box;
}

.cover__title:hover {
    color: rgba(0,0,0,0.5);
}

@media all and (max-width: 767px) {
    .cover__title {
        /* max-width: 250px; */
        font-size: 32px;
        line-height: 1.09;
        padding: 0 35px 16px;
    }
}
