.place {
    width: 100%;
    display: grid;
    grid-template-columns: 47% 49%;
    /* grid-template-rows: 152px 440px; */
    row-gap: 48px;
    column-gap: 32px;
}

@media all and (max-width: 320px) {
    .place {
       max-width: 288px;
       grid-template-columns: 1fr;
       row-gap: 32px;
    }
}