.footer {
    width: 100%;
    width: auto;
    max-width: 1184px;
    margin: 0;
    padding: 92px 48px 0;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

@media all and (max-width: 768px) {
    .footer {
        margin: 0;
        width: auto;
        padding: 88px 24px 24px;
    }
}

@media all and (max-width: 320px) {
    .footer {
        max-width: 186px;
        padding: 64px 118px 24px 16px;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
       padding: 92px 0 0;
    }
}