.footer {
    margin: 0 auto;
    width: 100%;
    max-width: 928px;
    padding-top: 92px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

@media all and (max-width: 320px) {
    .footer {
        max-width: 186px;
        padding: 64px 118px 24px 16px;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }
}

@media all and (max-width: 768px) {
    .footer {
        margin: 0;
        width: auto;
        padding: 88px 24px 24px;
    }
}