.intro__title {
margin: 0;
/* min-width: 690px; */
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 1.07;
color: #FFFFFF;
}

@media all and (max-width: 320px) {
    .intro__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
} 